{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="monster-list">
  {{ range sort .Pages ".Params.id" "asc" }}
    {{ $p := . }}

    <a
      href="{{ $p.RelPermalink }}"
      class="monster-card {{ if eq $p.Params.attack_type "魔法" }}attack-magic{{ else }}attack-physic{{ end }}"
    >
      {{ with $p.Params.image }}
        <div class="monster-thumb">
          <img src="{{ . | relURL }}" alt="{{ $p.Title }}">
        </div>
      {{ end }}

      <div class="monster-card-body">
        <h2 class="monster-name">
          {{ $p.Title }}
          <span class="monster-id">No.{{ $p.Params.id }}</span>
        </h2>
      </div>
    </a>
  {{ end }}
</div>

{{ end }}
